#include "resource.h"
IDI_ICON256 ICON "asc256.ico"
IDI_ICON64 ICON "asc64.ico"
IDI_ICON48 ICON "asc48.ico"
IDI_ICON40 ICON "asc40.ico"
IDI_ICON32 ICON "asc32.ico"
IDI_ICON24 ICON "asc24.ico"
IDI_ICON20 ICON "asc20.ico"
IDI_ICON16 ICON "asc16.ico"
